:root {     /* wie man eine Variable schreibt in CSS */
    --text-color: rgb(255, 0, 0);
}

i {
    border: 2px solid black;
    padding: 5px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100px 200px;
}

.position-center {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.box {
    background-color: black;
    height: 200px;
    width: 400px;
}

.clamp {
    width: clamp(200px, 50%, 600px); /* Breite für angepasste Auflösung*/
}

.aspect {
    width: 80%;
    aspect-ratio: 12/6;
}

.button {
    width: 80px;
    height: 40px;
    background-color: aqua;
    color: black;
    padding: 15px;
}

.button:hover {
    background-color: rgb(78, 205, 255);
}

.button:active {
    background-color: rgb(196, 255, 255);
}

.dropdown {
    opacity: 0;
    visibility: hidden;
}

button:focus-within .dropdown {
    opacity: 1;
    visibility: visible;
}